<!-- Sidebar слева -->
<td valign="top" class="left-chapters">
    <ul id="leftchapters">
        <li class="selected">Все категории</li>
        <li><a href="#">Девушки</a></li>
        <li><a href="#">Парни</a></li>
        <li class="share">
            <p>Наш канал</p>
            <a class="share-yt"
               href="https://www.youtube.com/channel/UClJzWfGWuGJL2t-3dYKcHTA/playlists"
               target="_blank" rel="nofollow"></a>
        </li>
    </ul>
</td>
<!-- Конец Sidebar'а -->


<!--<td valign="top" class="left-chapters">-->
<!--    <ul id="leftchapters">-->

<!--    </ul>-->
<!--</td>-->